@font-face {
	font-family: 'DrukWideCyr-Bold';
	src: url('./fonts/drukwidecyr-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/drukwidecyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/drukwidecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/drukwidecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/drukwidecyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/drukwidecyr-bold.svg#drukwidecyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}